.Circle {
  width: 50px;
  height: 50px;
  background-color: #f6622d;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  cursor: pointer;
}

.Circle:hover {
  background-color: #862c0b;
}

.Cont-Op-C {
  width: 44%;
  background-color: #f6622d;
  border: 2px solid white;
}
.Op-Client-Data {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.Op-Client-Data h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  margin: 8px;
}
.Text-Op-client p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px;
  text-align: center;
}

@media(max-width:715px){
    .Cont-Op-C{
        width: 80%;
    }
}