.img-banner {
  width: 100%;
  height: 900px;
  background: linear-gradient(#2d3a40de, #2d3a40de),
    url("../../assets/banner.png");
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-text {
  width: 100%;
}
.Container-g {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}
.container-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  color: white;
  width: 55%;
  margin: 0;
  font-size: 72px;
}

.container-text p {
  color: white;
  width: 55%;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: 0;
  color: white;
  background-color: #f6622d;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.4s;
}
.btn:hover {
  background-color: #2d3a40;
  border: 1px solid white;
}
.ContactBTN .Circle {
  width: 65px !important;
  height: 65px !important;
}
.ContactBTN .Circle img {
  width: 60%;
  height: 60%;
}

.SocialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 5%;
  z-index: 998;
  gap: 10px !important;
}
.LineHZ {
  width: 2px;
  height: 20px;
  background-color: white;
}

.NoContact-Circle {
  max-height: 0px !important;
  overflow: hidden;
}
.Social-Circles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.All-Container-Circles {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  flex-direction: column;
  transition: all 0.5s;
  gap: 10px;
}
.ContactBTN {
  display: none;
}
.BottomButtons{
  bottom: 10px !important;
  right: 10px;
}
@media (max-width: 856px) {
  .NoContact-Circle {
    display: flex !important; 
  }
  .ContactBTN {
    display: flex !important;
  }
  .SocialContainer {
    bottom: 30px;
  }
}
@media (max-width: 813px) {
  .container-text p,
  .container-text h1 {
    width: 100%;
  }
}

@media (max-width: 350px) {
  .container-text h1 {
    font-size: 48px;
  }
}
