.center-all-About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.about{
    display: flex;
    width: 90%;
    gap: 5%;
}

.img-about{
    width: 40%;
}

.Text-about{
    width: 60%;
}