.Center-projects {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 600px;
  padding-bottom: 50px;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#Projects{
  scroll-margin-top: 80px;
}
.Sup-content-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 12;
  width: 85%;
}
.inf-content-projects {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 12;
  width: 85%;
}
.inf-content-projects h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 38px;
  margin: 0;
  color: white;
}
.inf-content-projects p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.Sup-content-projects h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 60px;
  color: white;
}
.drawer-custom {
  background-color: rgba(51, 61, 65, 0.93) !important;
}
.drawer-custom * {
  color: white;
  border-color: white !important;
}

.Sup-content-projects button {
  background-color: #f6622d;
}

.Sup-content-projects button:hover {
  background-color: #2d3a40 !important;
}
.ScrollProjects {
  max-height: 80%;
  overflow-y: auto;
  padding: 5px;
  scrollbar-color: red rgba(255, 166, 0, 0);
}
.image-project {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
@media(max-height: 870px){
  .Center-projects{
    gap: 460px;
  }
}
@media(max-height: 700px){
  .Center-projects{
    gap: 100px !important;
  }
}
@media (max-width: 500px) {
  .Sup-content-projects {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .Sup-content-projects button {
    width: 100%;
  }
  .Sup-content-projects h1 {
    width: 100%;
    text-align: start;
  }
  .Center-projects {
    gap: 400px;
  }
  .ScrollProjects {
    max-height: 740px;
  }
}
