@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow-x: hidden !important;
}
body,
html {
  overflow-x: hidden;
}
